.list-funcionarios {
  width: 60%;
  margin: 20px auto;
  mat-card-title {
    text-align: center;
  }
  mat-selection-list{
    min-height: 100px;
  }
  .sem-funcionarios{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content {
    display: grid;
    grid-template-columns: 1.8fr 0.2fr;
    .nome-email {
      .nome {
        font-weight: 400;
        font-size: 18px;
        height: 28px;
        margin: 0;
      }

      .email {
        color: rgb(139, 139, 139);
        font-size: 14px;
      }
    }
    .cargo-container {
      display: flex;
      align-items: center;
      .cargo {
        font-weight: 400;
        font-size: 18px;
        height: 28px;
        margin: 0;
      }
    }
  }
  mat-card-content {
    display: flex;
    align-items: center;
    .container-left {
      .btn-novo-funcionario {
        background-color: #594a3c;
        color: white;
        border-radius: 20px;
      }
      width: 33.3%;
      justify-content: left;
      display: flex;
      margin-left: 10px;
    }
    .container-center{
      span {
        text-align: right;
        font-size: 15px;
        font-weight: 400;
      }
      .arrow{
        cursor: pointer;
      }
      .disabled{
        cursor: default;
        color: #00000042;
      }
      width: 33.3%;
      align-items: center;
      display: flex;
      justify-content: center;
    }
    margin-top: 10px;
    .container-right {
      .btn-novo-funcionario {
        background-color: #594a3c;
        color: white;
        border-radius: 20px;
      }
      width: 33.3%;
      justify-content: right;
      display: flex;
    }
  }
}
