.container-dashboard {
    padding: 16px;

    .cards-info {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
        margin-bottom: 16px;

        .card {
            width: 385px;
            display: grid;
            grid-template-columns: 1.5fr 0.5fr;

            .title {
                display: grid;
                grid-template-columns: 1fr;
                align-items: center;

                h3 {
                    font-size: 18px;
                    font-weight: 500;
                    margin: 0;
                }

                h4 {
                    font-size: 16px;
                    color: rgb(114, 113, 113);
                    margin: 0;
                }
            }

            .information {
                display: flex;
                align-items: center;
                font-size: 22px;
                font-weight: 500;
            }
        }
    }

    .linha__cards-3 {
        margin-bottom: 16px;
        display: flex;
        gap: 10px;
    }

    .card-lucro-geral {
        display: flex;
        flex-direction: column;
        width: 385px;

        .header {
            mat-card-title {
                display: flex;
                align-items: center;
            }

            .actionsNF {
                display: flex;
                align-items: center;
            }

            display: flex;
            justify-content: space-between;
            margin-bottom: 16px;

            .title {
                text-decoration: none;
                color: black;
                font-size: 18px;
                font-weight: 500;
                height: 40px;
                display: flex;
                align-items: center;
            }
        }
    }

    .cardNegociosFechados {
        display: flex;
        flex-direction: column;
        width: 74.8%;

        .header {
            mat-card-title {
                display: flex;
                align-items: center;
            }

            .actionsNF {
                display: flex;
                align-items: center;
            }

            display: flex;
            justify-content: space-between;
            margin-bottom: 16px;

            .title {
                text-decoration: none;
                color: black;
                font-size: 18px;
                font-weight: 500;
                height: 40px;
                display: flex;
                align-items: center;
            }
        }
    }
}

.sem-dados{
    text-align: center;
    height: 220px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 16px;
}