<div class="header-modal">
    <h2 mat-dialog-title>
        Criar Anúncio
    </h2>
    <div>
        <button mat-icon-button (click)="closeModal()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>
<hr>
<div class="content-modal" mat-dialog-container>
    <form>
        <div class="form-content">
            <mat-form-field class="inputs-form fonts-sizes col-xl-5">
                <mat-label>Título</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field class="inputs-form fonts-sizes col-xl-5">
                <mat-label>Produto</mat-label>
                <mat-select>
                    <mat-option value="0">Milho Pipoca</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="inputs-form fonts-sizes col-xl-5">
                <mat-label>Preço</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field class="inputs-form fonts-sizes col-xl-5">
                <mat-label>Desconto</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field class="inputs-form fonts-sizes col-xl-10">
                <mat-label>Descrição</mat-label>
                <textarea matInput></textarea>
            </mat-form-field >
        </div>
    </form>
    <div style="display: flex;justify-content: center;align-items: center;cursor: pointer;">
        <img [src]="localUrl" *ngIf="localUrl" class="imgPlaceholder" width="350px"  onclick="document.getElementById('file').click();">
        <input type="file" style="display:none;" id="file" name="file" (change)="selectFile($event)"/>
    </div>
</div>
<hr>
<div class="btns-modal-cep">
    <button mat-raised-button class="btn-cancelar" (click)="closeModal()">CANCELAR</button>
    <button mat-raised-button class="btn-salvar" (click)="closeModal()">SALVAR</button>
</div>