@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');

:root{
    --cor1:#46591D;
    --cor2: #A5BF6B;
    --cor3: #8DA633;
    --cor4: #D9D48F;
    --cor5: #594A3C;
  }
  
  * {
    margin: 0;
    padding: 0;
    font-family: 'Viga', sans-serif;
  }
  