<div class="container-home">
    <div class="container-header">
        <div class="logo-container">
            <a href="">GADO STALKER</a>
        </div>
        <div class="search-container">
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="O que você procura hoje?" aria-label="Search">
                <button mat-raised-button class="btn-pesquisa">Pesquisar</button>
            </form>
        </div>
    
        <div class="fazendeiro-container">
            <button mat-raised-button class="btn-produtor">Área do Produtor</button>
        </div>
    </div>
    
    <div class="carousel-container">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../../../assets/c1.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../../../assets/c2.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../../../assets/c3.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
    <div class="container-title">
      <h1>Catálogo de Produtos</h1>
    </div>
    <div class="container-main">
        <div class="container-filters">
            <mat-card class="result">
                <mat-card-content>
                  <h2 class="example-h2">Origem</h2>
              
                  <section class="example-section">
                    <mat-checkbox class="example-margin">
                      Animal
                    </mat-checkbox>
                  </section>

                  <section class="example-section">
                    <mat-checkbox class="example-margin">
                      Vegetal
                    </mat-checkbox>
                  </section>
                </mat-card-content>
              </mat-card>
        </div>
        <div class="container-categorias">
          <div class="grid-categorias">
                <mat-card class="card-produto" *ngFor="let produto of catalogo">
                    <img src="../../../assets/{{produto}}.png" alt="" width="200px" height="150px">
                    <h1>{{produto}}</h1>
                </mat-card>
          </div>
        </div>
    </div>
</div>