<div class="header-modal">
    <h2 mat-dialog-title>
        Designar funcionário
    </h2>
    <div>
        <button mat-icon-button>
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>
<hr>
<div class="content-modal" mat-dialog-container>
    <form>
        <div class="form-content">
            <mat-form-field class="inputs-form fonts-sizes col-xl-4">
                <mat-label>Funcionário</mat-label>
                <mat-select [(ngModel)]="fazenda">
                    <mat-option value="0">Alejandro da Silva Pereira</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="inputs-form fonts-sizes col-xl-4">
                <mat-label>Fazenda</mat-label>
                <mat-select [(ngModel)]="fazenda">
                    <mat-option value="0">Fazenda Feliz</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </form>
</div>
<hr>
<div class="btns-modal-cep">
    <button mat-raised-button class="btn-cancelar">CANCELAR</button>
    <button mat-raised-button class="btn-salvar">SALVAR</button>
</div>