<mat-card class="list-funcionarios">
    <mat-card-title>
        Lista de fazendas
    </mat-card-title>
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" *ngFor="let fazenda of fazendasArray" >
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <div class="content">
                                <div class="nome-email">
                                    <h1 class="nome">{{fazenda.nome}}</h1>
                                </div>
                            </div>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-divider></mat-divider>
                    <div class="dados-title"><h1>Dados da fazenda</h1></div>
                    <form>
                        <mat-form-field class="inputs-form fonts-sizes col-xl-4">
                            <mat-label>SNCR</mat-label>
                            <input matInput [(ngModel)]="fazenda.SNCR" name="SNCR" disabled="true"  mask="00.000.000.000-0">
                        </mat-form-field>
                        <mat-form-field class="inputs-form fonts-sizes col-xl-6">
                            <mat-label>Nome</mat-label>
                            <input matInput [(ngModel)]="fazenda.nome" name="nome" (change)="change()">
                        </mat-form-field>
                        <mat-form-field class="inputs-form fonts-sizes col-xl-5">
                            <mat-label>E-mail</mat-label>
                            <input matInput [(ngModel)]="fazenda.email" name="email" (change)="change()">
                        </mat-form-field>
                        <mat-slide-toggle  class="inputs-form fonts-sizes col-xl-2"[(ngModel)]="fazenda.isZapZap" style="margin-top: 15px;">WhatsApp</mat-slide-toggle>
                        <mat-form-field class="inputs-form fonts-sizes col-xl-3">
                            <mat-label>Telefone</mat-label>
                            <input matInput [(ngModel)]="fazenda.telefone" name="telefone" mask="(00) 00000-0000" (change)="change()">
                        </mat-form-field>
                        
                    </form>
                    <mat-accordion>
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" style="width: 80%; margin: auto;">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Funcionários ({{fazenda.funcionarios?.length}})
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <mat-selection-list #funcionario [multiple]="false">
                                <mat-list-option *ngFor="let funcionario of fazenda.funcionarios" [value]="funcionario">
                                  <div class="content">
                                      <div class="nome-email">
                                          <h1 class="nome">{{funcionario.nome}}</h1>
                                          <span class="email">{{funcionario.email}}</span>
                                      </div>
    
                                  </div>
                                  <mat-divider></mat-divider>
                                </mat-list-option>
                              </mat-selection-list>
                              <mat-card-content>
                              </mat-card-content>
                              <div *ngIf="fazenda.funcionarios?.length === 0">
                                <p style="text-align: center">Ainda não foram cadastrados funcionários nessa fazenda.</p>
                              </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                    <div class="btns-modal-cep">
                        <button mat-raised-button class="btn-excluir" (click)="openModalConfirmar(fazenda.SNCR)">EXCLUIR FAZENDA</button>
                        <button mat-raised-button class="btn-salvar" (click)="editarFazenda(fazenda)" [disabled]="haveChange">SALVAR ALTERAÇÕES</button>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
    <mat-card-content>
        <div class="container-left"><button mat-raised-button class="btn-novo-fazenda" (click)="openModal(this.cpf)">+ Nova Fazenda</button></div>
        <div class="container-right"><span>Quantidade de fazendas: {{fazendasArray?.length}}</span></div>
    </mat-card-content>
</mat-card>