.list-funcionarios {
    width: 60%;
    margin: 20px auto;

    mat-card-title {
        text-align: center;
        margin: 9px auto 25px auto;
    }

    mat-expansion-panel {
        margin-bottom: 15px;

        mat-expansion-panel-header {
            height: 58px;
        }
        mat-panel-title{
            justify-content: center;
            font-size: 18px;
        }

        .dados-title {
            h1 {

                margin: 10px AUTO;
                font-size: 18px;
                text-align: center;
            }
        }
        form{
            gap: 10px;
            display: flex;
            width: 95%;
            margin: auto;
            justify-content: center;
            flex-wrap: wrap;
        }
    }

    .content {
        display: grid;
        grid-template-columns: 1.8fr 0.2fr;

        .nome-email {
            .nome {
                font-weight: 500;
                font-size: 20px;
                height: 28px;
                margin: 0;
            }

            .email {
                color: rgb(139, 139, 139);
                font-size: 14px;
            }
        }

        .cargo-container {
            display: flex;
            align-items: center;

            .cargo {
                font-weight: 400;
                font-size: 18px;
                height: 28px;
                margin: 0;
            }
        }
    }

    mat-card-content {
        display: flex;
        align-items: center;

        .container-left {
            .btn-novo-funcionario {
                background-color: #594A3C;
                color: white;
                border-radius: 20px;
            }
            .btn-novo-fazenda{
                background-color: #8DA633;
                color: white;
                border-radius: 20px;
            }

            width: 77%;
        }

        margin-top: 10px;

        .container-right {
            span {
                text-align: right;
                margin-right: 10px;
                font-size: 15px;
                font-weight: 400;
            }
        }
    }

}
.btns-modal-cep{
    width: 80%;
    margin: 10px auto 10px auto;
    display: flex;
    justify-content: center;
    .btn-excluir{
        margin-right: 290px;
        background-color: white;
        color: #8DA633;

        border-radius: 20px;
    }
    .btn-salvar{
        background-color: white;
        color: #594A3C;

        border-radius: 20px;
    }
}

::ng-deep  {

    .mat-button-wrapper{
      display: flex !important;
    }
    .mat-radio-inner-circle{
        background-color: #594A3C !important;
    }
  
    .mat-radio-outer-circle{
        border-color: #594A3C !important;
    }
  
    .mat-form-field.mat-focused .mat-form-field-label {
        color: #594A3C !important;
    }
  
    .mat-form-field.mat-focused .mat-form-field-ripple {
        background-color: #594A3C !important;
    }
  
    .mat-form-field.mat-form-field-invalid .mat-form-field-ripple {
        background-color: #f44336 !important;
    }
  
    .mat-for
    m-field.mat-form-field-invalid .mat-form-field-label {
        color: #f44336 !important;
    }
  
   .mat-checkbox-checked .mat-checkbox-background{
        background-color: #594A3C !important;
    }
  
    .mat-ink-bar{
        background-color: #594A3C !important;
    }
  
    .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
        color: #594A3C !important;
    }
    .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
        color: #594A3C !important;
    }
    .mat-button-disabled{
      background-color: rgba(0, 0, 0, 0.12) !important;
      color: rgba(0, 0, 0, 0.26) !important;
    }
    .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
        background-color: #8DA633;
    }
    
    .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
        background-color: #8da633ad;
    }
    
      .mat-slide-toggle-content{
        color: #5e5d5a;
      }
      .mat-slide-toggle-label{
        justify-content: center;
      }
  }