<div class="container-anuncio">
    <div class="container-header">
        <div class="logo-container">
            <a routerLink="/home">GADO STALKER</a>
        </div>
        <div class="search-container">
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Ainda não encontrou seu produto?"
                    aria-label="Search" [formControl]="textoPesquisa">
                <button mat-raised-button class="btn-pesquisa" (click)="pesquisar()">Pesquisar</button>
            </form>
        </div>

        <div class="fazendeiro-container">
            <button mat-raised-button class="btn-anunciar" routerLink="/area-produtor" *ngIf="usuario.tipoUsuario == 'PROPRIETARIO' || usuario.tipoUsuario == 'FUNCIONARIO'">Anunciar</button>
        </div>
    </div>
    <div class="container-main">
        <div class="container-anuncio">
            <mat-card class="container-title">
                <h1>{{anuncio?.titulo}}</h1>
                <span>
                    Anúnciado em {{anuncio?.dataFormatada}} - Cód. {{anuncio?.id}}
                </span>
            </mat-card>
            <div class="carousel-container">
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img [src]="anuncio?.imagem" alt="{{anuncio.titulo}}" class="d-block w-100"
                                height="426px">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <div class="container-card">
                    <mat-card class="card-anuncio">
                        <h1>{{fazenda.nome}}</h1>
                        <h2>Dados para contato</h2>
                        <h3>
                            <mat-icon [svgIcon]="'cell'"></mat-icon>{{fazenda.telefone | mask: '(00) 0000-0000'}}
                        </h3>
                        <h3>
                            <mat-icon [svgIcon]="'email'"></mat-icon>{{fazenda.email}}
                        </h3>
                    </mat-card>
                </div>
            </div>
            <h1 class="preco">{{anuncio?.preco | currency:'BRL'}}</h1>
            <div class="descricao">
                <mat-accordion>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Descrição do anúncio
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            {{anuncio?.descricao}}
                        </p>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
    </div>
</div>