*{
    font-family: 'Viga', sans-serif !important;
  }
.container-anuncio {
    background-color: #D9D48F;

    .container-header {
        width: 80%;
        height: 100px;
        margin: auto;
        background-color: #594A3C;
        display: grid;
        grid-template-columns: 1.1fr 1.9fr 1fr;

        .logo-container {
            display: flex;
            align-items: center;
            justify-content: center;

            a {
                font-size: 32px;
                text-decoration: none;
                color: white;
                letter-spacing: 1px;
                font-weight: 700;
            }
        }

        .search-container {
            display: flex;
            justify-content: center;
            align-items: center;
            form{
                width: 410px;
            }
            .btn-pesquisa {
                width: 140px;
                font-size: 16px;
            }
        }

        .fazendeiro-container {
            display: flex;
            justify-content: center;
            align-items: center;

            .btn-anunciar {
                width: 180px;
                height: 40px;
                border-radius: 20px;
                background-color: #8DA633;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;

            }

            .icon-user {
                color: white;
                width: 36px;
                height: 36px;
                cursor: pointer;
                margin-right: 15px;
            }

            .edit-icon{
                width: 24px;
                height: 24px;
            }

        }
    }
    .container-main{
        width: 100%;
        margin: auto;
        background-color: white;
        padding: 30px 0;
        .container-anuncio{
            width: 70%;
            margin: auto;
            padding: 10px 0;
            background-color: white;
            .container-title{
                width: 65%;
                h1{
                    margin: 5px 0;
                }
                span{
                    color: rgb(148, 147, 147);
                }
            }

            .carousel-container{
                width: 100%;
                margin: 20px 0;
                display: flex;
                gap: 10px;
                .carousel{
                    width: 65%;
                }
                .container-card{
                    width: 35%;
                    .card-anuncio{
                        width: 300px;
                        h1{
                            text-align: center;
                            margin: 10px auto;
                        }
                        h2{
                            margin: 10px 0;
                            text-align: center;
                        }
                        h3{
                            margin: 5px 0;
                            mat-icon{
                                margin-right: 5px;
                            }
                        }
                    }
                }
            }
            .preco{
                color: #8DA633;
                font-size: 30px;
                font-weight: 700;
                margin: 20px 0;
            }
            .descricao{
                width: 65%;
            }
        }
    }
}
.container-whats-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    .btn-whats{
        border-radius: 20px;
        background: #2BB201;
        color: white;
    }
}
::ng-deep {
    .mat-menu-panel {
        width: 250px;
        margin-top: 10px;
        p {
            width: 60%;
            margin: auto;

        }

        .sub-title {
            font-size: 11px;
            white-space: pre-line;
            color: rgba(0, 0, 0, .6);
            height: 15px;
        }

        .container-btns {
            justify-content: center;
            display: flex;
            margin-top: 10px;
        }

        .btn-login {
            color: inherit;
            background: transparent;
            border: none;
            box-shadow: none;
        }
    }
    .mat-radio-inner-circle {
        background-color: #594A3C !important;
    }

    .mat-radio-outer-circle {
        border-color: #594A3C !important;
    }

    .mat-form-field.mat-focused .mat-form-field-label {
        color: #594A3C !important;
    }

    .mat-form-field.mat-focused .mat-form-field-ripple {
        background-color: #594A3C !important;
    }

    .mat-form-field.mat-form-field-invalid .mat-form-field-ripple {
        background-color: #f44336 !important;
    }

    .mat-for m-field.mat-form-field-invalid .mat-form-field-label {
        color: #f44336 !important;
    }

    .mat-checkbox-checked .mat-checkbox-background {
        background-color: #594A3C !important;
    }

    .mat-ink-bar {
        background-color: #594A3C !important;
    }

    .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
        color: #594A3C !important;
    }

    .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
        color: #594A3C !important;
    }

    .mat-button-disabled {
        background-color: rgba(0, 0, 0, 0.12) !important;
        color: rgba(0, 0, 0, 0.26) !important;
    }
}
