<div class="container-anuncio">
    <div class="container-header">
        <div class="logo-container">
            <a href="">GADO STALKER</a>
        </div>
        <div class="search-container">
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Ainda não encontrou seu produto?"
                    aria-label="Search">
                <button mat-raised-button class="btn-pesquisa">Pesquisar</button>
            </form>
        </div>

        <div class="fazendeiro-container">
            <button mat-raised-button class="btn-anunciar">Anunciar</button>
        </div>
    </div>
    <div class="container-main">
        <div class="container-anuncio">
            <mat-card class="container-title">
                <h1>Feijão Carioca</h1>
                <span>
                    Anúnciado em 30/04/2022 às 14:00 - Cód. 10260485
                </span>
            </mat-card>
            <div class="carousel-container">
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="../../../assets/Feijão-anuncio.png" class="d-block w-100" alt="..."
                                height="426px">
                        </div>
                        <div class="carousel-item">
                            <img src="../../../assets/Feijão-anuncio2.png" class="d-block w-100" alt="..."
                                height="426px">
                        </div>
                        <div class="carousel-item">
                            <img src="../../../assets/Feijão-anuncio3.png" class="d-block w-100" alt="..."
                                height="426px">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <div class="container-card">
                    <mat-card class="card-anuncio">
                        <h1>Fazenda Santa Clara</h1>
                        <h2>Dados para contato</h2>
                        <h3>
                            <mat-icon [svgIcon]="'cell'"></mat-icon>(51)995124503
                        </h3>
                        <h3>
                            <mat-icon [svgIcon]="'email'"></mat-icon>santaclara@hotmail.com
                        </h3>
                    </mat-card>
                </div>
            </div>
            <h1 class="preco">R$ 4,00/kg</h1>
            <div class="descricao">
                <mat-accordion>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Descrição do anúncio
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            Feijão carioca da Fazenda Santa Clara, por apenas R$ 4,00/kg,
                            Venha conferir o melhor feijão carioca da região.
                            Agende a sua compra pelo nosso telefone: (51)995124503, ou pelo e-mail: santaclara@hotmail.com
                        </p>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
    </div>
</div>