<div class="container-area-produtor">
    <div class="container-header">
        <div class="container-icon">
            <mat-icon [svgIcon]="'menu'" class="menu-icon">
            </mat-icon>
        </div>
        <div class="logo-container">
            <a routerLink="/home">GADO STALKER</a>
        </div>
        <div class="title-container">
            <h1>{{pageAtual}}</h1>
        </div>
        <div class="fazendeiro-container">
            <button mat-raised-button class="btn-produtor" (click)="voltarHome()">Página Inicial</button>
            <button mat-raised-button class="btn-relatorios" *ngIf="pageAtual == 'Anúncios'" (click)="openModal()"><div>
                <span>Criar Anúncio</span>
            </div></button>
            <button mat-raised-button class="btn-relatorios" *ngIf="pageAtual == 'Dashboard'"><div>
                <span>Baixar relatórios</span>
                <mat-icon
                    [svgIcon]="'download'"
                    class="menu-list-icon">
                </mat-icon>
            </div></button>
        </div>
    </div>
    <div class="container-main">
        <div class="container-menu-list">
            <mat-selection-list #options [multiple]="false">
                <mat-list-option *ngFor="let option of Options" [value]="option" [selected]="option == pageAtual" (click)="changePageSelected(option)">
                    <div>
                        <mat-icon
                            [svgIcon]="option"
                            class="menu-list-icon">
                        </mat-icon>
                        <span>{{option}}</span>
                    </div>
                </mat-list-option>
            </mat-selection-list>
        </div>
        <div class="container-component">
            <app-dashboard *ngIf="pageAtual == 'Dashboard'"></app-dashboard>
            <app-gerenciar-anuncios *ngIf="pageAtual == 'Anúncios'"></app-gerenciar-anuncios>
            <app-catalogo *ngIf="pageAtual == 'Catálogo de Produtos'"></app-catalogo>
            <app-fazendas *ngIf="pageAtual == 'Fazendas'"></app-fazendas>
            <app-funcionarios *ngIf="pageAtual == 'Funcionários'"></app-funcionarios>
        </div>
    </div>
</div>