.header-modal {
  display: flex;
  width: 780px;
  h2 {
    margin-top: 0.5em;
    margin-bottom: -0.6em;
    justify-content: center;
    text-align: center;
    margin-top: px;
    margin-left: 1em;
    width: 90%;
    font-size: 18px;
    color: #3b3b3b;
    font-weight: normal;
    text-transform: none;
  }
}

.content-modal {
  width: 90%;

  margin: auto;
  h4 {
    text-align: center;
    margin-bottom: 15px;
  }
  form {
    display: flex;
    flex-wrap: wrap;
  }
}

.btns-modal-cep {
  width: 95%;
  margin: 0 auto 10px auto;
  display: flex;
  justify-content: right;
  .btn-cancelar {
    margin-right: 10px;
    background-color: white;
    color: #8a8a8a;
    box-shadow: none;
    border-radius: 20px;
  }
  .btn-salvar {
    background-color: white;
    color: #008ade;
    box-shadow: none;
    border-radius: 20px;
  }
}

::ng-deep .mat-dialog-container {
  padding: 0 !important;
}

::ng-deep .btns-modal-cep {
  .mat-button-disabled {
    color: #8a8a8a !important;
  }
}

::ng-deep .mat-icon {
  margin-bottom: -0.3em;
  justify-content: center;
  align-items: center;
}

mat-card-content {
  display: flex;
  align-items: center;
  .container-left {
    .btn-novo-funcionario {
      background-color: #594a3c;
      color: white;
      border-radius: 20px;
    }
    width: 77%;
  }
  margin-top: 10px;
  .container-right {
    span {
      text-align: right;
      margin-right: 10px;
      font-size: 15px;
      font-weight: 400;
      align-items: right;
      justify-content: right;
    }
  }
}

::ng-deep {
  .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: #594a3c;
  }

  .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: rgba(89, 74, 60, 0.8);
  }
  .mat-list-text{
    padding-right: 0 !important;
  }
}

.content {
  display: grid;
  grid-template-columns: 0.8fr 1fr 0.2fr;
  .nome-email {
    .nome {
      font-weight: 400;
      font-size: 18px;
      height: 28px;
      margin: 0;
    }

    .email {
      color: rgb(139, 139, 139);
      font-size: 14px;
    }
  }
  .cargo-container {
    display: flex;
    align-items: center;
    .cargo {
      font-weight: 400;
      font-size: 18px;
      height: 28px;
      margin: 0;
    }
  }
  .icons{
    display: flex;
    align-items: center;
    justify-content: right;
    .btn-sem-estilo{
      border: none;
      background: none;
    }
    mat-icon{
      margin-right: 5px;
    }
  }
}