<div class="header-modal">
  <h2 mat-dialog-title>Lista de produtos</h2>
  <div>
    <button mat-icon-button (click)="closeModal()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
<hr />
<div class="content-modal" mat-dialog-container>
  <mat-selection-list #funcionario [multiple]="false" *ngIf="produtos.length > 0"> 
    <mat-list-option *ngFor="let produto of produtos" [value]="produto">
      <div class="content" (click)="openModalEditar()">
          <div class="nome-email">
              <h1 class="nome">{{produto.nome}}</h1>
              <span class="email">Quantidade em estoque: {{produto.quantidade}}</span>
          </div>
          <div class="cargo-container">
              <h1 class="cargo">{{searchFazendaName(produto)}}</h1>
          </div>
          <div class="icons">
              <mat-icon [svgIcon]="'edit'" matTooltip="Editar produto"></mat-icon> 
              <mat-icon [svgIcon]="'delete'" matTooltip="Excluir produto" (click)="excluirProduto(produto.id)"></mat-icon> 
          </div>
      </div>
      <mat-divider></mat-divider>
    </mat-list-option>
  </mat-selection-list>

  <div *ngIf="produtos.length === 0">
    <p style="text-align: center">Ainda não foram cadastrados produtos nesta categoria.</p>
  </div>

  <mat-card-content>
    <div class="container-left">
      <button
        mat-raised-button
        class="btn-novo-funcionario"
        (click)="openModal(productKey, fazendas)"
      >
        + Novo produto
      </button>
    </div>
  </mat-card-content>
</div>
<hr />
