<div class="header-modal">
  <h2 mat-dialog-title>Lista de produtos</h2>
  <div>
    <button mat-icon-button (click)="closeModal()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
<hr />
<div class="content-modal" mat-dialog-container>
  <section class="fonts-sizes" *ngFor="let produto of produtos">
    <form>
      <div class="col-xl-4">
        <mat-label>Nome do produto</mat-label>
        <input value="{{ produto.nome }}" />
      </div>

      <div class="push-down col-xl-2">
        <mat-label>Produto especializado</mat-label>
        ㅤ
        <input type="checkbox" checked="{{ produto.especializado }}" />
      </div>
      ㅤㅤ
      <div class="col-xl-1">
        <mat-label>Quantidade</mat-label>
        <input
          type="number"
          min="0"
          max="1000000"
          step="1"
          value="{{ produto.quantidade }}"
        />
        ㅤㅤㅤㅤ
      </div>
      ㅤㅤㅤㅤ
      <div style="padding-left: 15px" class="col-xl-3">
        <mat-label>Fazenda Origem</mat-label>
        <input value="{{ produto.fazenda }}" />
      </div>
    </form>
  </section>

  <mat-card-content>
    <div class="container-left">
      <button
        mat-raised-button
        class="btn-novo-funcionario"
        (click)="openModal()"
      >
        + Novo produto
      </button>
    </div>
    <div class="container-right">
      Desativar todos : <mat-slide-toggle> </mat-slide-toggle>
    </div>
  </mat-card-content>
</div>
<hr />
<div class="btns-modal-cep">
  <button mat-raised-button class="btn-cancelar" (click)="closeModal()">
    CANCELAR
  </button>
  <button mat-raised-button class="btn-salvar" (click)="closeModal()">
    SALVAR
  </button>
</div>
