<div class="container-home">
  <div class="container-main">
    <div class="container-categorias">
      <div class="grid-categorias">
        <mat-card
          [ngClass]="[produto.enabled ? '' : 'card-disabled']"
          class="card-produto"
          *ngFor="let produto of catalogo"
          (click)="openModal()"
        >
          <img
            src="../../../assets/{{ produto.nome }}.png"
            alt="produto.nome"
            width="200px"
            height="150px"
          />
          <div class="card-bottom">
            <h1>
              {{ produto.nome }}
            </h1>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
