* {
  font-family: "Viga", sans-serif !important;
}
.container-home {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 1em;

  .container-main {
    width: 100%;
    padding: 1.5rem;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .result {
      height: 250px;
    }

    .example-h2 {
      margin: 10px;
    }

    .example-section {
      display: flex;
      height: 30px;
    }

    .example-margin {
      margin: 0 10px;
    }

    .grid-categorias {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 1em;
      width: 90%;

      .card-disabled {
        transition-delay: 1s;
        transition: all ease-in-out;
        img {
          opacity: 0.5;
        }
        h1 {
          color: rgba(89, 74, 60, 0.8);
        }
      }

      .card-produto {
        align-items: center;
        width: 250px;
        height: 250px;
        margin: auto;
        cursor: pointer;

        .card-bottom {
          display: flex;
          margin: 2em auto 2em;
          justify-content: space-evenly;
          h1 {
            text-align: left;
          }
          img {
            margin: auto;
            margin-bottom: 2em;
          }
        }
      }
    }
  }
}

::ng-deep {
  .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: #594a3c;
  }

  .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: rgba(89, 74, 60, 0.8);
  }
}
