.header-modal {
  display: flex;
  h2 {
    margin-top: 0.5em;
    margin-bottom: -0.6em;
    justify-content: center;
    text-align: center;
    margin-top: px;
    margin-left: 1em;
    width: 90%;
    font-size: 18px;
    color: #3b3b3b;
    font-weight: normal;
    text-transform: none;
  }
}

.content-modal {
  height: 100px;
  width: 90%;
  margin: auto;
  h4 {
    text-align: center;
    margin-bottom: 15px;
  }
  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.btns-modal-cep {
  width: 95%;
  margin: 0 auto 10px auto;
  display: flex;
  justify-content: right;
  .btn-cancelar {
    margin-right: 10px;
    background-color: white;
    color: #8a8a8a;
    box-shadow: none;
    border-radius: 20px;
  }
  .btn-salvar {
    background-color: white;
    color: #594a3c;
    box-shadow: none;
    border-radius: 20px;
  }
}

::ng-deep .mat-dialog-container {
  padding: 0 !important;
}

::ng-deep .btns-modal-cep {
  .mat-button-disabled {
    color: #8a8a8a !important;
    background-color: white !important;
  }
}

::ng-deep .mat-icon {
  margin-bottom: -0.3em;
  justify-content: center;
  align-items: center;
}

::ng-deep {
  .mat-radio-inner-circle {
    background-color: #594a3c !important;
  }

  .mat-radio-outer-circle {
    border-color: #594a3c !important;
  }

  .mat-form-field.mat-focused .mat-form-field-label {
    color: #594a3c !important;
  }

  .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: #594a3c !important;
  }

  .mat-form-field.mat-form-field-invalid .mat-form-field-ripple {
    background-color: #f44336 !important;
  }

  .mat-for m-field.mat-form-field-invalid .mat-form-field-label {
    color: #f44336 !important;
  }

  .mat-checkbox-checked .mat-checkbox-background {
    background-color: #594a3c !important;
  }

  .mat-ink-bar {
    background-color: #594a3c !important;
  }

  .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: #594a3c !important;
  }
  .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
    color: #594a3c !important;
  }
  .mat-button-disabled {
    background-color: rgba(0, 0, 0, 0.12) !important;
    color: rgba(0, 0, 0, 0.26) !important;
  }
}