<div class="container-anuncios">
    <mat-card class="example-card" *ngFor="let anuncio of anuncios">
        <mat-card-header>
          <mat-card-title>{{anuncio?.titulo}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="anuncio.imagem" alt="{{anuncio.titulo}}" height="200px">
        <mat-card-content>
            <h1 class="preco">{{anuncio?.preco | currency:'BRL'}}</h1>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button class="btn-anuncio" (click)="openModalEditarAnuncio(anuncio)">EDITAR ANÚNCIO</button>
            <button mat-raised-button class="btn-venda" (click)="openModalRegistrarVenda()">REGISTRAR VENDA</button>
        </mat-card-actions>
    </mat-card>
</div>