<div class="header-modal">
    <h2 mat-dialog-title>
        Editar funcionário
    </h2>
    <div>
        <button mat-icon-button (click)="closeModal()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>
<hr>
<div class="content-modal" mat-dialog-container>
    <form [formGroup]="formFuncionario">
        <mat-form-field class="inputs-form fonts-sizes col-xl-12">
            <mat-label>Nome</mat-label>
            <input matInput formControlName="nome">
            <mat-error *ngIf="formFuncionario.get('nome').hasError('required')">Insira o nome!</mat-error>
        </mat-form-field>
        <mat-form-field class="inputs-form fonts-sizes col-xl-12">
            <mat-label>E-mail</mat-label>
            <input matInput formControlName="email">
            <mat-error *ngIf="formFuncionario.get('email').hasError('required')">Insira o e-mail!</mat-error>
        </mat-form-field>
        <mat-form-field class="inputs-form fonts-sizes col-xl-12">
            <mat-label>Telefone</mat-label>
            <input matInput formControlName="telefone" mask="(00) 00000-0000">
            <mat-error *ngIf="formFuncionario.get('telefone').hasError('required')">Insira o telefone!</mat-error>
        </mat-form-field>
    </form>
    <button mat-raised-button class="btn-excluir" (click)="openDialog(funcionario.cpf)">Excluir funcionário</button>
</div>
<hr>
<div class="btns-modal-cep">
    <button mat-raised-button class="btn-cancelar" (click)="closeModal()">CANCELAR</button>
    <button mat-raised-button class="btn-salvar" (click)="editarFuncionario()">SALVAR</button>
</div>