<div class="header-modal">
    <h2 mat-dialog-title>
        Editar Anúncio
    </h2>
    <div>
        <button mat-icon-button (click)="closeModal()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>
<hr>
<div class="content-modal" mat-dialog-container>
    <form [formGroup]="formAnuncio">
        <div class="form-content">
            <mat-form-field class="inputs-form fonts-sizes col-xl-5">
                <mat-label>Título</mat-label>
                <input matInput formControlName="titulo">
            </mat-form-field>
            <mat-form-field class="inputs-form fonts-sizes col-xl-5">
                <mat-label>Produto</mat-label>
                <mat-select formControlName="produto">
                    <mat-option *ngFor="let produto of produtosFazenda"
                        [value]="produto.id">{{produto.nome}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="inputs-form fonts-sizes col-xl-5">
                <mat-label>Preço</mat-label>
                <input matInput currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left'}" formControlName="preco">
            </mat-form-field>
            <mat-form-field class="inputs-form fonts-sizes col-xl-5">
                <mat-label>Desconto</mat-label>
                <input matInput mask="percent" suffix="%" formControlName="desconto">
            </mat-form-field>
            <mat-form-field class="inputs-form fonts-sizes col-xl-10">
                <mat-label>Descrição</mat-label>
                <textarea matInput formControlName="descricao"></textarea>
            </mat-form-field >
        </div>
        <div style="display: flex;justify-content: center;align-items: center;cursor: pointer;margin-bottom: 20px;">
            <img [src]="localUrl" *ngIf="localUrl" class="imgPlaceholder" width="350px"  onclick="document.getElementById('file').click();">
            <input type="file" style="display:none;" id="file" name="file" (change)="selectFile($event)"/>
        </div>

        <div style="width: 85%;margin: auto;display: flex;gap: 50px;justify-content: center;">
            <button mat-raised-button class="btn-cancelar" (click)="excluirAnuncio(anuncio.id)">Excluir Anúncio</button>
            <button mat-raised-button class="btn-fechar" (click)="fecharAbrirAnuncio(!anuncio?.dataFinal, anuncio.id)">{{anuncio.dataFinal ? 'Reabrir Anúncio'  : 'Encerrar Anúncio'}}</button>
        </div>
    </form>
</div>
<hr>
<div class="btns-modal-cep">
    <button mat-raised-button class="btn-cancelar" (click)="closeModal()">CANCELAR</button>
    <button mat-raised-button class="btn-salvar" (click)="editarAnuncio(anuncio.id)">SALVAR</button>
</div>